.pds-wds-tag.MuiChip-root{
   border-radius: 4px;
   color: var(--pds-secondary-black-t3);
   border: 1px solid var(--pds-secondary-black-t3);
}

.pds-wds-tag.MuiChip-root:hover{
   border: 1px solid var(--pds-primary-black);
   color: var(--pds-primary-black);
}